{
  "presets": ["es2015-without-strict"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx",
    "babel-plugin-transform-es2015-destructuring",
    "transform-class-properties"
  ]
}